################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Quintity.TestFramework/v15
/.vs/Quintity.TestFramework/DesignTimeBuild
